@page "/"
@using Cyber.URLPhishing.Web.Contracts
@using Microsoft.Extensions.Logging
@using Cyber.URLPhishing.Web.Services
@inject ILogger<Index> Logger
@inject IUrlValidationService validationService

<PageTitle>UrlValidator</PageTitle>

<h1>Check url address</h1>

<EditForm Model="@urlValidationRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
   
    <InputText style="width: 600px !important" class="form-control" id="URL" @bind-Value="urlValidationRequest.URL" /> 

    <button class="btn btn-success">Validate</button>
</EditForm>

@code {
    private UrlValidationRequest urlValidationRequest = new();
    private string? currentCount;

    private async Task HandleValidSubmit()
    {
        currentCount = (await validationService.CheckUrl(urlValidationRequest.URL)).State;
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}
<p style="margin-top:8px" role="status">Validated URL:<b> @currentCount</b></p>
